#root {
  max-inline-size: 1400px;
  min-inline-size: 480px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: clamp(2.5rem, 0.2174rem + 7.6087vw, 6.875rem);
}

.container {
  inline-size: 100%;
  block-size: 589px;
  position: relative;
}

.container__video {
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  z-index: 10;
  background-color: aqua;
  object-fit: cover;
}

.container__text {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  block-size: 100%;
}

.container__text-block {
  display: block;
  flex-grow: 0;
  z-index: 15;
  background-color: black;
  border: solid 10px black;
}

.container__empty-block {
  position: relative;
  min-inline-size: 50px;
  min-block-size: 65px;
  flex-grow: 1;
  z-index: 20;
}

.container__empty-block:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 20px solid rgb(0, 0, 0);
  position: absolute;
  z-index: 20;
}
